__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.cache/

*.log
wandb/

exp/
assets/
outputs/
checkpoints/
datasets/
*.pth
*.pt
*.safetensors

gcs-key.json
key.json

.DS_Store
